<div class="container" style="padding-top: 50px">
  <mat-card class="example-card">
    <h1>Add Employee</h1>
    <mat-card-content class="m-0 p-0">
      <form name="form" [formGroup]="addEmployeeForm" (submit)="onSubmit()">
      <div class="row">
          <div class="col-md-6 pb-2">
            <mat-form-field appearance="outline">
              <mat-label>NIP</mat-label>
              <input matInput formControlName="nip" placeholder="NIP" required />
            </mat-form-field>
          </div>
          <div class="col-md-6 pb-2">
            <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>
              <input matInput formControlName="full_name" placeholder="Full Name" required />
            </mat-form-field>
          </div>
          <div class="col-md-6 pb-2">
            <mat-form-field appearance="outline">
              <mat-label>Nick Name</mat-label>
              <input matInput formControlName="nick_name" placeholder="Nick Name" required />
            </mat-form-field>
          </div>
          <div class="col-md-6 pb-2">
            <mat-form-field appearance="outline">
              <mat-label>Birth Date</mat-label>
              <input matInput formControlName="birth_date" [matDatepicker]="picker1" required />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6 pb-2">
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" placeholder="Address" required />
            </mat-form-field>
          </div>
          <div class="col-md-6 pb-2">
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput type="number" formControlName="phone" placeholder="Phone" class="spin" required />
            </mat-form-field>
          </div>
          <div class="col-md-6 pb-2">
            <mat-form-field appearance="outline">
              <mat-label>Mobile</mat-label>
              <input matInput type="number" formControlName="mobile" placeholder="Mobile" class="spin" required />
            </mat-form-field>
          </div>
          <div class="col-md-6 pb-2">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Ex. pat@example.com" required />
            </mat-form-field>
          </div>
          <div class="col-md-12 text-right">
            <button mat-raised-button class="full-width-field" color="warn">
              <mat-icon> close </mat-icon>&nbsp;&nbsp;Cancel</button
            >&nbsp;
            <button
              mat-raised-button
              class="full-width-field"
              color="primary"
            >
              <mat-icon> send </mat-icon>&nbsp;&nbsp;Save
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <br />
  <br />
  <mat-divider></mat-divider>
</div>

<app-dashboard></app-dashboard>
