<style>
  .full-width-field {
    width: 100%;
  }

  .login {
    background: url("assets/img/hero-bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login:before {
    content: "";
    background: rgba(2, 5, 161, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
</style>

<section class="login">
  <div class="container h-100 hero">
    <div class="row align-items-center h-100">
      <div class="col-4 mx-auto">
        <mat-card class="pb-4 text-center" style="padding-top: 50px">
          <mat-icon style="transform: scale(3)"> face </mat-icon>
          <br />
          <br />
          <h1 class="text-center font-weight-bold">Please Login</h1>

          <div class="example-container col-md-12 text-right">
            <form name="form" [formGroup]="loginForm" (submit)="onSubmit()">
              <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  placeholder="Email"
                  formControlName="identity"
                />
                <mat-icon matSuffix> mail_outline </mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline" class="full-width-field">
                <mat-label>Enter your password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>

              <button
                mat-raised-button
                class="full-width-field"
                color="primary"
              >
                Login
              </button>
              <br /><br />
            </form>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
