<h2 mat-dialog-title>Logout</h2>
<div mat-dialog-content>
  <p>Are you sure want to logout?</p>
</div>
<br />
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <div class="row col-md-12 p-0 m-0 pb-2">
    <div class="col-md-6 p-0">
      <button
        mat-raised-button
        (click)="onNoClick()"
        class="full-width-field"
        color="warn"
      >
        <mat-icon> close </mat-icon>&nbsp;&nbsp;No
      </button>
    </div>
    <div class="col-md-6 p-0 text-right">
      <button mat-raised-button class="full-width-field" (click)="logout()" color="primary">
        <mat-icon> check </mat-icon>&nbsp;&nbsp;Yes
      </button>
    </div>
  </div>
</div>
