<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-md-12 mx-auto">
      <mat-card class="shadow" style="margin-bottom: 10px">
        <mat-form-field appearance="outline">
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. Mia"
            #input
          />
          <mat-icon matSuffix> filter_list </mat-icon>
        </mat-form-field>
      </mat-card>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- NIP Column -->
          <ng-container matColumnDef="nip">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:11.2%">NIP</th>
            <td mat-cell *matCellDef="let row" style="width:11.2%">{{ row.nip }}</td>
          </ng-container>

          <!-- Full Name Column -->
          <ng-container matColumnDef="full_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:11.2%">Full Name</th>
            <td mat-cell *matCellDef="let row" style="width:11.2%">{{ row.full_name }}</td>
          </ng-container>

          <!-- Nick Name Column -->
          <ng-container matColumnDef="nick_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:8%">Nick Name</th>
            <td mat-cell *matCellDef="let row" style="width:8%">{{ row.nick_name }}</td>
          </ng-container>

          <!-- Birth Date Column -->
          <ng-container matColumnDef="birth_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%">
              Birth Date
            </th>
            <td mat-cell *matCellDef="let row" style="width:10%">{{ row.birth_date }}</td>
          </ng-container>

          <!-- Address Column -->
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:14%">Address</th>
            <td mat-cell *matCellDef="let row" style="width:14%">{{ row.address }}</td>
          </ng-container>

          <!-- Phone Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:11.2%">Phone</th>
            <td mat-cell *matCellDef="let row" style="width:11.2%">{{ row.phone }}</td>
          </ng-container>

          <!-- Mobile Column -->
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:11.2%">Mobile</th>
            <td mat-cell *matCellDef="let row" style="width:11.2%">{{ row.mobile }}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:11.2%">Email</th>
            <td mat-cell *matCellDef="let row" style="width:11.2%">{{ row.email }}</td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%">Action</th>
            <td mat-cell *matCellDef="let row" style="width:10%">
              <button
                mat-icon-button
                matTooltip="Edit"
                (click)="openDialogEdit(row.id)"
                color="primary"
              >
                <mat-icon> edit </mat-icon>
              </button>

              <button
                mat-icon-button
                matTooltip="Delete"
                (click)="openDialogDelete(row.id)"
                color="warn"
              >
                <mat-icon> delete_forever </mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
