<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon></button
  >&nbsp;&nbsp;
  <h1>SmartBiz</h1>
  <span class="menu-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="openDialogLogout()"
  >
    <mat-icon> power_settings_new </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item href="/admin/dashboard">
        <mat-icon> dashboard </mat-icon>&nbsp;&nbsp; Dashboard
      </a>
      <div style="height: 10px"></div>
      <a mat-list-item href="/admin/employee"
        ><mat-icon> group_add </mat-icon> &nbsp;&nbsp; Add Employee</a
      >
      <mat-divider></mat-divider>
      <div style="height: 10px"></div>
      <a mat-list-item (click)="openDialogLogout()">
        <mat-icon> power_settings_new </mat-icon> &nbsp;&nbsp; Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
