/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;;
  }
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.mat-form-field-wrapper {
  padding: 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin-right: 12px;
}

input.spin::-webkit-outer-spin-button,
input.spin::-webkit-inner-spin-button {
  display: none;
}
